@use '../global/' as g;
@use './functions' as f;
@use './mixins' as m;

.btn-element {
    padding: g.$xsmall g.$small;
    @include m.borderradius(g.$small);
    @include m.boxshadow;
    text-transform: capitalize;
}
.btn_transparent {
    @include m.boxshadow_light;
}
.btn_primary {
    background-color: g.$color_primary !important;
    color: g.$color_tertiary;
}

.btn-icon {
    padding: 0;
    display: block;
    @include m.borderradius(50% !important);
}

.text_small {
    font-size: g.$small;
}

button:disabled {
    background-color: transparent;
    color: g.$color_tertiary;
}
.stepper-btn {
    background-color: g.$color_default !important;
    color: g.$color_secondary;
}

/**
*INPUT GROUP:div
*
*/
// div.input-group {
//     // width: 50%;
//     margin: auto 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: g.$small 0;

//     & > * {
//         // display: block;
//         // margin: g.$msmall 0;
//     }
//     & > *:last-child {
//         // margin: 0 0;
//     }
// }

.show {
    display: block !important;
}