@use './variables' as v;

h1 {
    margin: v.$small;
    padding: v.$small;
    font-size: v.$large;
}

h2 {
    margin: v.$small;
    padding: v.$small;
    font-size: v.$medium;
}

h3 {
    margin: v.$small;
    padding: v.$small;
    font-size: v.$small;
}

h4 {
    margin: v.$small;
    padding: v.$small;
    font-size: v.$msmall;
}

p {
    margin: v.$small;
    padding: v.$small;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}