/**
* COLORS
*/
$color_primary: '';
$color_secondary: '';
$color_tertiary: '';
$colr_additional: '';


/**
* SIZES
*/
$tiny: .4rem;
$xsmall: .8rem;
$msmall: 1.2rem;
$small: 1.6rem;
$medium: 3.2rem;
$large: 4.0rem;
$xlarge: 6.0rem;