@use '../utilities/' as u;
@use '../global/' as g;

.container {
    display: grid;
    grid-template-areas:
        'header main'
        'header footer'
    ;
    grid-template-columns: .4fr 3fr;
    // gap: u.rem(2);
    // column-gap: u.rem(2);

    header {
        grid-area: header;
        background-color: g.$color_secondary;
        min-height: 100dvh;

        .nav {
            display: grid;
            grid-template-columns: .4fr 2fr;
            color: g.$color_default;

            &>* {
                padding-top: u.rem(40);
            }

            aside {
                background-color: g.$color_tertiary;
                min-height: 100dvh;
                display: flex;
                flex-direction: column;
                align-items: center;

                & > div {
                    max-height: fit-content;
                    margin: u.rem(20) 0;
                }
            }

            .nav-menus {
                display: flex;
                flex-direction: column;
                align-items: start;
                margin-left: u.rem(16);

                & > * {
                    margin: u.rem(16) 0;
                }

                ul {
                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-transform: capitalize;
                        &>*:first-child{
                            margin-right: g.$xsmall;
                        }
                    }
                }
            }

        }
    }

    main {
        grid-area: main;
        background-color: red;
        min-height: 95dvh;
        padding-top: u.rem(40);
    }

    footer {
        grid-area: footer;
        background-color: yellow;
    }
}