@use '../utilities/' as u;
@use '../global/' as g;

.currencyComponent {
    .addCurrency {
        margin-top: 2rem;
        display:grid;
        grid-template-columns: 6fr 6fr;
        column-gap: 2rem;
        & > .input-group {
            overflow: hidden;
            perspective: none;
            margin-bottom: 1.2rem;
            display: flex;
            flex-direction: column;
            border: none !important;
            & > * {
                display: block;
                outline: none !important;
                border: u.rem(.1) solid g.$color_primary;
            }
            & > *:first-child{
                margin-bottom: .4rem;
            }
        }
    }
}