@use '../global/' as g;
@use '../utilities/' as u;

.autocomplete {
    padding: g.$small 0;
    .MuiInputBase-root {
        height: fit-content !important;

    }
    .MuiInputBase-input {
        border: none !important;
        outline: none !important;
    }
}