@use '../global/' as g;

.billingCard {
    background-color: red;
    & > div:first-child {
        padding-bottom: .8rem;
        margin-bottom: 2rem;
    }
    .billing {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: g.$default_border;;
    }
}