@use '../global/' as g;
@use '../utilities/' as u;

.company {
    width: 80vw;

    .topsection {
        padding: g.$xsmall g.$xsmall g.$small g.$xsmall;
        display: flex;
        flex-direction: row;

        .topsection_div__1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;

            &>* {
                display: block;
            }

            &>*:first-child {
                margin-right: g.$msmall;
            }

            // span {

            // }
        }

        .topsection_div__2 {
            display: flex;
            flex-direction: row;
            justify-content: right;
            flex-grow: 1;

            .actions {
                width: u.rem(140);

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    background-color: g.$color_primary !important;
                    color: g.$color_tertiary;
                    padding: g.$xsmall g.$small;
                    @include u.borderradius(g.$small);
                    @include u.boxshadow;
                    text-transform: capitalize;

                    &>* {
                        margin-left: g.$xsmall;
                    }
                }
            }
        }
    }
}