@use '../global/' as g;
@use '../utilities/' as u;

table.default {
    table-layout: fixed;
    width: 100%;
    margin: g.$medium g.$xsmall 0;
    // background-color: g.$color_secondary;
    @include u.borderradius(null, null, 0, 0);

    tr {
        @include u.border(null, null, g.$default_border);
        margin-bottom: g.$msmall;
        width: 1%;
        height: 8dvh;
    }

    tr:last-child {
        border-bottom: none;
    }

    th,
    td {
        padding-left: g.$tiny;
        text-align: start;
    }

    thead {
        @include u.border(null, null, g.$default_border);
        tr {
            th {
                font-weight: 600;
            }
        }
    }
    
}