@use '../global/' as g;
@use '../utilities/' as u;

.itemOfficer {
    margin-top: 4rem;
    & > div.itemOfficerInputs {
        display: flex;
        & > .autocomplete {
            width: u.rem(400);
        }
    }

    .divisionTopBar {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 2rem;
            padding-bottom: .8rem;
            border-bottom: g.$default_border;
        }
    }
}