@use '../global/' as g;
.itemformrowBtn {
    width: 50%;
    padding: 4% 0;
    display: flex;

    & > * {
        display: block;
        width: 12rem;
    }
    & > *:not(:last-child) {
        margin-right: g.$small;
    }
}