@use '../global/' as g;
.itemComponent {
    padding: 4% 0;

    & > .itemDetails {
        & > .input-group {
            display: flex;
            flex-direction: column;
            & > * {
                display: block;
            }
            & > *:not(:last-child) {
                margin-bottom: g.$xsmall;
            }
            & > textarea {
                border: none !important;
                outline: none !important;
                padding-left: .8rem;
            }
        }
        & > * {
            margin-bottom: g.$medium;
        }
    }
}

.customfielset {
    height: 8rem;
    border: g.$valid_border;
}