@use '../global/' as g;
.itemComponent {
    padding: 4% 0;

    & > .itemDetails {
        & > .input-group {
            display: flex;
            flex-direction: column;
            & > * {
                display: block;
            }
        }
        & > * {
            margin-bottom: g.$medium;
        }
    }
}

.customfielset {

}