@use '../utilities/' as u;
@use '../global/' as g;

.loading {
    position: absolute;
    top: 45%;
    left: 50%;
    background-color: rgba(2, 36, 66, 0);
    z-index: 999999;

    .spinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid g.$color-default;
        border-radius: 50%;
        width: u.rem(100);
        height: u.rem(100);
        animation: spin 2s linear infinite;
    }
    p {
        margin-top: 1.2rem;
    }

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}