@use '../utilities/' as u;
@use '../global/' as g;

.profileAndTransactions {
    background-color: red;
    display: flex;
    & > .vendorProfile {
        width: u.rem(600);
        border-right: u.rem(2) solid g.$color_active;
    }
    & > .vendorTransactions {
        padding-left: u.rem(12);
    }
}