@use '../utilities/' as u;

.reportTemplate {
    background-color: blue;
    display: flex;
    flex-direction: column;
    & .reportHeader {
        background-color: red;
        display: flex;
        & div {
            flex-grow: 1;
            & img {
                width: u.rem(180);
                height: u.rem(180);
            }
        }
        & .organizationDetails {
            background-color: white;
            text-align: right;
            padding-right: u.rem(12);
        }
    }
}