@use '../utilities/' as u;
@use '../global/' as g;

.reportTemplate {
    padding: g.$small;
    @include u.boxshadow;
    @include u.borderradius(u.rem(20));
    display: flex;
    flex-direction: column;
    & .reportHeader {
        display: flex;
        & div {
            flex-grow: 1;
            & img {
                width: u.rem(180);
                height: u.rem(180);
            }
        }
        & .headerLogo {
            padding-left: u.rem(16);
        }
        & .organizationDetails {
            text-align: right;
            padding-right: u.rem(16);
        }
    }
    & .reportMainContent {
        display: flex;
        flex-direction: column;

        & .reportRelatedInformation {
            display: flex;
        }
    }
}