@use '../global/' as g;

.saleItems {
    padding: 4% 0;
    display: grid;
    grid-template-columns: .8fr .4fr;
    gap: g.$medium;

    & > .input-group {
        display: flex;
        flex-direction: column;
        & > * {
            display: block;
        }
        & > *:not(:last-child) {
            margin-bottom: g.$xsmall;
        }
    }
}