@use '../global/' as g;
@use '../utilities/' as u;

.tankEntries {
    & > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > div {
            padding-bottom: 0 !important;
            & > button {
                background-color: g.$color_primary;
                padding: .8rem 1.6rem;
                border-radius: .4rem;
                color: g.$color_primary_light;
                @include u.boxshadow
            }
        }
    }
}