@use '../global/' as g;

.TransportationAndOfficerCard {
    margin: 4rem 0;
    .transport_and_officer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & > div:first-child {
        margin-bottom: 2rem;
        padding-bottom: .8rem ;
        border-bottom: g.$default_border;
    }

    input {
        height: 3.4rem;
    }
}