@use '../global/' as g;

.transport {
    padding: 4% 0;
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 50rem;

    &>.input-group {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &>* {
            display: block;
        }

        &>*:not(:last-child) {
            margin-bottom: g.$xsmall;
        }
    }

    &>.input-group:not(:last-child) {
        margin-right: g.$small;
    }
}